
/* Start of the expanding underline*/
.undermain {
    width: 80px;
    height: 1px;
    background: gray;
    margin: -10px;
	border: 0.9px solid grey;
	animation: undermain 3s ease-in-out infinite alternate;
}
@keyframes undermain {
	0%,30%{ width: 80px; }
	70%,100%{ width: 20%; }
}
@media screen and (max-width: 750px) {
	@keyframes undermain {
		0%,30%{ width: 60px; }
		70%,100%{ width: 30%; }
	}
}
/* End of the expanding underline*/

/* Start of the changing colour of the line*/
a {
	text-decoration: none;
	color: #9ca0b1;
}

.changingwrapper {
	text-align: center;
	overflow-x: hidden;
	display: grid;
}

.colorhead{
		color: #fff;
		font-size: 34px;
		font-family:'Poppins', sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		background: linear-gradient(to right, #BEF538 10%, lightgreen 50%, #5bdaff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	
}
.colorhead1{
		color: #fff;
		font-size: 34px;
		font-family:'Poppins', sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		background: linear-gradient(to right, #720E2A 60%,#202124 30%, #E10F1F 30% );
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
@media screen and (max-width: 750px) {
	.colorhead{
		font-size:32px;
	}
/* Start of the night stars*/
